<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Обо Мне</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
			Мне 20 лет, на данный момент являюсь студентом БГАТУ. Учусь в университете на инженера-энергетика.
			За время обучения в университете получил как профессионально-технические навыки, так и жизненный
			опыт.
        </p>
        <p>
           С детства хотел работать в IT-компании, поэтому любовь к программированию у меня с малых лет. Считаю, 
		   что мои способности и навыки, полученные на курсах, помогут мне построить карьеру в IT-индустрии.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Факты</h3>
		    <ul>
    			<li>
            Общительный
    			</li>
          <li>
            Дружелюбный
          <li>
            Пунктуальный
    			<li>
            Трудолюбивый
    			</li>
    			<li>
            Усидчивый
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
