<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Интересы</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    Мои интересы:
        </p>
			<ul>
			  <li>
				 <b>Кино</b>. В свободное время я люблю смотреть кино. Особенно мне нравятся биографические фильмы.
			  </li>
			  <li>
				  <b>Компьютер</b>. Это незаменимая вещь в моей жизни. Я использую его каждый день чтобы узнать что-то новое, пообщаться в социальных сетях или 
				  просто поиграть в компьютерные игры.
			  </li>
			  <li>
				  <b>Путешествия</b>. Я люблю путешествовать потому, что путешествие - это лучший способ узнать что-то новое, получить новые эмоции и увидеть 
				  красоту различных уголков нашей планеты.
				  
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Мои Работы</h3>
		  <ul>
  			<li>
          В Процессе
    		</li>
  			<li>
          В Процессе
  			</li>
  		    </ul>
  		    <h3>Прочее</h3>
  		    <ul>
  			<li>
           <a href="https://www.codewars.com/users/UladzislauPas/stats" title="Мой профиль" target="_blank" >Codewars</a>
  			</li>
  			<li>
  			  В Процессе
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
